NEXA_MT5_MODE=mock
NEXA_MT5_HOST=127.0.0.1
NEXA_MT5_PORT=8765
NEXA_MT5_SERVICE_TOKEN=
NEXA_MT5_TERMINAL_PATH=
NEXA_MT5_LOGIN=
NEXA_MT5_PASSWORD=
NEXA_MT5_SERVER=
NEXA_MT5_STALE_AFTER_SECONDS=15
NEXA_MT5_CONNECT_ATTEMPTS=3
NEXA_MT5_BACKOFF_INITIAL_SECONDS=0.25
NEXA_MT5_BACKOFF_MAX_SECONDS=2
NEXA_MT5_HISTORY_MAX_RECORDS=500
